html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.3;
  color: #444;
}

h1 {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 1.4rem;
}

p {
  margin-bottom: 1rem;
}
