* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

body {
  background-color: #f6f6f6;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.welcome {
  display: block;
  vertical-align: middle;
  padding: 30px;
  background: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .05);
  border-radius: 6px;
}

.welcome h1 {
  text-align: center;
  color: #444;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1;
  margin: 0 0 20px 0;
}

.welcome p {
  text-align: center;
  color: #444;
  font-size: .9rem;
  line-height: 1;
  margin: 0;
}
